/* ul li {
    color: blue;
    font-size: 2.3rem;
}

ul p:first-child {
    color: red;
} */


/* body p:nth-of-type(2) {
    color: red;
    font-size: 24px
} */

/* body p:nth-child(3){
color: blue;
} */

/* ul li:nth-child(even){
    background: red;
    color: white;
} */

/* .btn-submit {
    padding: 12px;
    color: white;
    background: rgb(0,111,215);
    border: pointer;
    border-radius: 4px;
    transition: background .2s;
}

.btn-submit:hover {
    background: rgb(2,99,190);
}

.btn-submit:focus {
    background: red;
}

input[type=text] {
    /* background: red; */
    border: 1px solid #f2f2f2;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 8px;
    outline: none;
    transition: .2s;
}

input[type=text]:hover {
    border: 1px solid rgb(0,111,215);

}

input[type=text]:disabled {
    background:rgba(0,111,215,0.563)
}

input[type=text]:disabled::placeholder {
    color:white;
} */

ul {
    position: relative;
}

ul li::after {
    /* content: ' Onde eu estou';
    color: red;
    font-size: 24px; */
    content:'';
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 140px;
}

ul li::before {
    content:'';
    background-color: blue;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    /* right: 0px; */
    left: opx;
}

p::first-line {
    color: red;
}